%h1.space
%h1 Listing concerts

%table.table.table-striped
  %thead
    %tr
      %th Band

      %th Date

      %th Place

      %th Price
      %th
      %th
      %th

  %tbody
    - @concerts.each do |concert|
      %tr
        %td= concert.band

        %td= concert.date

        %td= concert.place

        %td= concert.price
        %td.btn-group
          = link_to 'Show', concert, class: "btn btn-primary"
          = link_to 'Edit', edit_concert_path(concert), class: "btn btn-success"
          = link_to 'Destroy', concert, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

%br

= link_to 'Add Concert', new_concert_path, class: "btn btn-warning"
